@using System.Text.RegularExpressions;
@model IEnumerable<BioLab_Diagnostics.Models.PeticionesPruebas>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informe de Resultados - Laboratorio Clínico</title>
    <style>

        .container {
            width: 100%;
            padding: 10px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding-top: 5px;
            padding-bottom: 5px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        h2 {
            text-align: center;
            background-color: lightgray;
        }

    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mw-100">
                <div style="display: inline-block;">
                    <img src="~/images/Logo-favicon-c.png" alt="Laboratorio Clinico BioLab Diagnostics" style="max-width: 200px;">
                </div>
                <div style="display: inline-block; vertical-align: top; margin-left: 20px;">
                    <p>
                        <h1>Laboratorio Clínico BioLab Diagnostics</h1>
                    </p>
                    Dirección: Av. del Botánico 85, Madrid<br />
                    Teléfono: (+34) 683-786-962<br />
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <h2>Informe de Resultados</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Prueba</th>
                            <th>Resultado</th>
                            <th>Valor de Referencia</th>
                            <th>Unidades</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdPruebaNavigation.Nombre)
                                </td>
                                <td>
                                    @{
                                        var valorReferencia = "";
                                        foreach (var i in item.IdPruebaNavigation.ValoresReferencia)
                                        {
                                            //Si no depende del sexo, guardo el valor de referencia para mostrarlo
                                            if (i.Sexo == null)
                                            {
                                                valorReferencia = i.ValorReferencia;
                                            }
                                            else
                                            {
                                                //Si depende del sexo, guardo el valor de referencia correspondiente al sexo del paciente
                                                if (i.Sexo.Equals(item.IdPeticionNavigation.DniClienteNavigation.Sexo))
                                                {
                                                    valorReferencia = i.ValorReferencia;
                                                }
                                            }
                                        }
                                        if (valorReferencia.Contains("-"))
                                        {
                                            var intervalo = valorReferencia.Split("-");
                                            //Valor fuera del intervalo de referencia
                                            if (Convert.ToDouble(item.Resultado) < Convert.ToDouble(intervalo[0]) || Convert.ToDouble(item.Resultado) > Convert.ToDouble(intervalo[1]))
                                            {
                                                <text><span style="color:red;">@item.Resultado</span></text>
                                            }
                                            else
                                            {
                                                <text><span style="color:forestgreen;">@item.Resultado</span></text>
                                            }
                                        }
                                        else if (valorReferencia.Contains("<") && !valorReferencia.Contains("="))
                                        {
                                            valorReferencia = valorReferencia.Replace("<", "");
                                            if (Convert.ToDouble(item.Resultado) >= Convert.ToDouble(valorReferencia))
                                            {
                                                <text><span style="color:red;">@item.Resultado</span></text>
                                            }
                                            else
                                            {
                                                <text><span style="color:forestgreen;">@item.Resultado</span></text>
                                            }
                                        }
                                        else if (valorReferencia.Contains("<="))
                                        {
                                            valorReferencia = valorReferencia.Replace("<=", "");
                                            if (Convert.ToDouble(item.Resultado) > Convert.ToDouble(valorReferencia))
                                            {
                                                <text><span style="color:red;">@item.Resultado</span></text>
                                            }
                                            else
                                            {
                                                <text><span style="color:forestgreen;">@item.Resultado</span></text>
                                            }
                                        }
                                        else if (valorReferencia.Contains(">") && !valorReferencia.Contains("="))
                                        {
                                            valorReferencia = valorReferencia.Replace(">", "");
                                            if (Convert.ToDouble(item.Resultado) <= Convert.ToDouble(valorReferencia))
                                            {
                                                <text><span style="color:red;">@item.Resultado</span></text>
                                            }
                                            else
                                            {
                                                <text><span style="color:forestgreen;">@item.Resultado</span></text>
                                            }
                                        }
                                        else if (valorReferencia.Contains(">="))
                                        {
                                            valorReferencia = valorReferencia.Replace(">=", "");
                                            if (Convert.ToDouble(item.Resultado) < Convert.ToDouble(valorReferencia))
                                            {
                                                <text><span style="color:red;">@item.Resultado</span></text>
                                            }
                                            else
                                            {
                                                <text><span style="color:forestgreen;">@item.Resultado</span></text>
                                            }
                                        }
                                        else
                                        {
                                            //Compruebo si el valor de referencia es un string o un valor numérico
                                            if (Regex.IsMatch(valorReferencia, @"\w*") == true)
                                            {
                                                if (!item.Resultado.ToUpper().Equals(valorReferencia.ToUpper()))
                                                {
                                                    <text><span style="color:red;">@item.Resultado.ToUpper()</span></text>
                                                }
                                                else
                                                {
                                                    <text><span style="color:forestgreen;">@item.Resultado.ToUpper()</span></text>
                                                }
                                            }
                                            else
                                            {
                                                if (Convert.ToDouble(item.Resultado) != Convert.ToDouble(valorReferencia))
                                                {
                                                    <text><span style="color:red;">@item.Resultado</span></text>
                                                }
                                                else
                                                {
                                                    <text><span style="color:forestgreen;">@item.Resultado</span></text>
                                                }
                                            }
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        foreach (var i in item.IdPruebaNavigation.ValoresReferencia)
                                        {
                                            if (i.Sexo == null)
                                            {
                                                <text>@i.ValorReferencia</text>
                                            }
                                            else
                                            {
                                                if (i.Sexo.Equals(item.IdPeticionNavigation.DniClienteNavigation.Sexo))
                                                {
                                                    <text>@i.ValorReferencia</text>
                                                }
                                            }
                                        }
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdPruebaNavigation.Unidades)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
